<!DOCTYPE html>
<html lang="en">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossOrigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossOrigin="anonymous">

</head>
<body>
<div class="container">
    <div id="login-form" class="form-signin">
        <form method="post" action="login">
            <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                <span class="h1 fw-bold mb-0">Đăng nhập</span>
            </div>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid email & Password
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label">Email</label>
                <input type="email" name="username" class="form-control "/>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example27">Password</label>
                <input type="password" name="password" id="form2Example27" class="form-control "/>
            </div>
            <div class="pt-1 mb-4">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">
                    Login
                </button>
            </div>
            <a class="small text-muted" href="#!">Forgot password?</a>
            <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="register">Đăng ký</a></p>
        </form>
    </div>

</div>

</body>
</html>
